
    o |    o |    o !    o !    o |    o |    o !    o !    o |    o |  
  .íTì+  .íTì+  ,iTì*  ,iTì*  .íTi-  .íTi-  ,iTì*  ,iTì*  .íTi+  .íTi+  
   /║     /║     /\     /\     /║     /║     //     //     /║     /║    
                                                                        
    ô |    ô |    ô !    ô !    o |    o |    ô !    ô !    o |    o |  
  .í#ì+  .í#ì+  ,i#ì*  ,i#ì*  .í#i-  .í#i-  ,i#ì*  ,i#ì*  .í#i+  .í#i+  
   '║'    '║'    ´\´    ´\´    '║'    '║'    ´/´    ´/´    ´║´    ´║´   
                                                                        
    ö |    ö |    ö !    ö !    o |    o |    ö !    ö !    o |    o |  
  .íXì*  .íXì+  ,iXì*  ,iXì*  .íXi-  .íXi-  ,iXì*  ,iXì*  .íXi+  .íXi+  
    ║      ║      \      \      ║      ║      /      /      ║      ║    
                                                                        
    ò |    ò |    ò !    ò !    ò |    o |    o !    o !    o |    o |  
  .íHì*  .íHì+  ,iHì*  ,iHì*  .íHi-  .íHi-  ,iHì*  ,iHì*  .íHi+  .íHi+  
   /T\    /T\    /\|    /\|    |T|    |T|    //|    //|    /l|    /T\   
                                                                        
    û |    û |    û !    û !    ü |    ü |    û !    û !    ü |    ü |  
  .íYì*  .íYì+  ,iYì*  ,iYì*  .íYi-  .íYi-  ,iYì*  ,iYì*  .íYi+  .íYi+  
   /n\    /n\    /\|    /\|    |n|    |n|    //|    //|    /l|    /n\   
                                                                        
    a |    a |    a !    a !    a |    a |    a !    a !    a |    a |  
  .í@ì*  .í@ì+  ,i@ì*  ,i@ì*  .í@i-  .í@i-  ,i@ì*  ,i@ì*  .í@i+  .í@i+  
   /Y\    /Y\    /\|    /\|    |Y|    |Y|    //|    //|    /l|    /Y\   
