
    o |    o )    o  /   o      o      o      o      o      o ,    o )  
  .íTì*  .íTì+  .íTì-  .íTì-──.íTì,  .íTì,  .íTì,   íTì+  .íTì+  .íTì+  
   /║     /║     /║     /║     /║  \  /║ |   /║/    /║´    /║     /║    
                                                                        
    ô |    ô )    ô  /   ô      ô      ô      ô      ô      ô ,    ô )  
  .í#ì*  .í#ì+  .í#ì-  .í#ì-──.í#ì,  .í#ì,  .í#ì,   í#ì+  .í#ì+  .í#ì+  
   /║\    /║\    /║\    /║\    /║\ \  /║\|   /║X   ·/║\    /║\    /║\   
                                                                        
    ö |    ö )    ö  /   ö      ö      ö      ö      ö      ö ,    ö )  
  .íXì*  .íXì+  .íXì-  .íXì-──.íXì,  .íXì,  .íXì,   íXì+  .íXì+  .íXì+  
    ║      ║      ║      ║      ║  \   ║ |    ║/    ·║´     ║      ║    
                                                                        
    ò |    ò )    ò  /   ò      ò      ò      ò      ò      ò ,    ò )  
  .íHì*  .íHì+  .íHì-  .íHì-──.íHì,  .íHì,  .íHì,   íHì+  .íHì+  .íHì+  
   /T\    /T\    /T\    /T\    /T\ \  /T\|   /TX   ·/T\    /T\    /T\   
                                                                        
    û |    û )    û  /   û      û      û      û      û      û ,    û )  
  .íYì*  .íYì+  .íYì-  .íYì-──.íYì,  .íYì,  .íYì,   íYì+  .íYì+  .íYì+  
   /n\    /n\    /n\    /n\    /n\ \  /n\|   /nX   ·/n\    /n\    /n\   
                                                                        
    a |    a )    a  /   a      a      a      a      a      a ,    a )  
  .íYì*  .íYì+  .íYì-  .íYì-──.íYì,  .íYì,  .íYì,   íYì+  .íYì+  .íYì+  
   /Y\    /Y\    /Y\    /Y\    /Y\ \  /Y\|   /YX   ·/Y\    /Y\    /Y\   
