
  | o    ( o   \  o      o      o      o      o      o    , o    ( o  
  *ŕTì.  +ŕTì.  -ŕTì.──-ŕTì.  ,ŕTì,  ,ŕTì,  ,íTì,  +íTì   +íTì.  +íTì.
    ║\     ║\     ║\     ║\  /  ║\   | ║\    \║\    `║\     ║\     ║\ 
                                                                      
  | ô    ( ô   \  ô      ô      ô      ô      ô      ô    , ô    ( ô  
  *ŕ#ì.  +ŕ#ì.  -ŕ#ì.──-ŕ#ì.  ,ŕ#ì,  ,ŕ#ì,  ,í#ì,  +í#ì   +í#ì.  +í#ì.
   /║\    /║\    /║\    /║\   //║\   |/║\    X║\    /║\·   /║\    /║\ 
                                                                      
  | ö    ( ö   \  ö      ö      ö      ö      ö      ö    , ö    ( ö  
  *ŕXì.  +ŕXì.  -ŕXì.──-ŕXì.  ,ŕXì,  ,ŕXì,  ,íXì,  +íXì   +íXì.  +íXì.
    ║      ║      ║      ║   /  ║    | ║     \║     `║·     ║      ║  
                                                                      
  | ó    ( ó   \  ó      ó      ó      ó      ó      ó    , ó    ( ó  
  *ŕHì.  +ŕHì.  -ŕHì.──-ŕHì.  ,ŕHì,  ,ŕHì,  ,íHì,  +íHì   +íHì.  +íHì.
   /T\    /T\    /T\    /T\   //T\   |/T\    XT\    /T\·   /T\    /T\ 
                                                                      
  | û    ( û   \  û      û      û      û      û      û    , û    ( û  
  *ŕYì.  +ŕYì.  -ŕYì.──-ŕYì.  ,ŕYì,  ,ŕYì,  ,íYì,  +íYì   +íYì.  +íYì.
   /n\    /n\    /n\    /n\   //n\   |/n\    Xn\    /n\·   /n\    /n\ 
                                                                      
  | a    ( a   \  a      a      a      a      a      a    , a    ( a  
  *ŕYì.  +ŕYì.  -ŕYì.──-ŕYì.  ,ŕYì,  ,ŕYì,  ,íYì,  +íYì   +íYì.  +íYì.
   /Y\    /Y\    /Y\    /Y\   //Y\   |/Y\    XY\    /Y\·   /Y\    /Y\ 
